body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: #397dc6; /* Light blue background */
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 42px;
    box-sizing: border-box;
    resize: vertical;
    background-color: #c9bebe; /* White background for textarea */
    border: 1px solid #dd2626;
    border-radius: 10px;
}

#count {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
